/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
     /* Ajoute une image de fond fixe */
     background-image: url('chemin/vers/ton/image.jpg');
     /* Assure que l'image de fond reste fixe */
     background-attachment: fixed;
     /* Centre l'image de fond et la rend couvrir toute la page */
     background-position: center;
     background-size: cover;
}



/* Style de la navbar */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Style du formulaire de connexion */
.login-form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form label,
.login-form input,
.login-form button,
.login-form a {
    display: block;
    margin-bottom: 10px;
}

.login-form input[type="email"],
.login-form input[type="password"],
.login-form button {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.login-form button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

/* Style du footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
